# Python packages and their versions required for the SoG-bloomcast
# development environment
#
# See docs/Development.rst for instructions on how to create a conda
# environment with these packages installed

arrow==0.5.0
beautifulsoup4==4.3.2
cliff==1.9.0
cmd2==0.6.8
colander==1.0
coverage==3.7.1
docutils==0.12
ipdb==0.8
ipython==2.4.1
iso8601==0.1.10
Jinja2==2.7.3
Mako==1.0.1
MarkupSafe==0.23
matplotlib==1.4.2
numpy==1.9.1
pbr==0.10.7
prettytable==0.7.2
py==1.4.26
Pygments==1.6
pyparsing==2.0.1
pytest==2.6.4
python-dateutil==2.2
pytz==2014.9
PyYAML==3.11
requests==2.5.1
six==1.9.0
sphinx-bootstrap-theme==0.4.5
Sphinx==1.2.3
stevedore==1.2.0
translationstring==1.3
