# Python packages and their versions required by SoG-bloomcast
#
# :command:`pip install -r requirements.txt` should install these
# in a new virtualenv

beautifulsoup4==4.2.1
contextlib2==0.4.0
docutils==0.10
execnet==1.1
ipython==0.13.2
Jinja2==2.7
Mako==0.8.1
MarkupSafe==0.18

# on sable, symlink matplotlib, dateutil & pytz from pymodules
matplotlib==1.2.1

mock==1.0.1
numpy==1.7.1
Pygments==1.6
py==1.4.15
pytest==2.3.5
pytest-cache==1.0
PyYAML==3.10
requests==1.2.3
Sphinx==1.2b1
