# Python package and their versions required by SoG-bloomcast
#
# :command:`p -r requirements.txt` should install these in a new virtualenv

SoG-bloomcast
Jinja2==2.6
Pygments==1.4
Sphinx==1.0.7
distribute==0.6.14
docutils==0.8
ipython==0.11
wsgiref==0.1.2
