name: pytest-with-coverage

on:
  push:
   branches: [ '*' ]
  # Enable workflow to be triggered from GitHub CLI, browser, or via API
  # primarily for testing conda env solution for new Python versions
  workflow_dispatch:

jobs:
  pytest-with-coverage:
    permissions:
      contents: read
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        environment: [ 'test-py314' ]

    uses: UBC-MOAD/gha-workflows/.github/workflows/pixi-pytest-with-coverage.yaml@main
    with:
      environment: ${{ matrix.environment }}

    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
